body {
	font-family:'Open Sans', Tahoma, Geneva, sans-serif;
	margin:0;
	padding:0;
	background-color:#fff;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, #menu-icon {
	font-family: 'Ubuntu', sans-serif;
	text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

a {
	-webkit-transition: all 0.5s; /* Safari */
	transition: all 0.5s;
}

pre {
  max-width: 565px;
  white-space: pre-wrap;
  width: 95%;
  margin: auto;
}

th {text-align: left;}

td {
	padding: 5px 20px;
}

td ul {
	display: inline-block;
	margin: 5px;
}

input, textarea {
  background-color: #FFF;
  color: #002900;
  border: 1px solid #002900;
  border-radius: 15px;
  padding: 5px;
  display: block;
  margin: 5px auto;
  width: 95%;
  max-width: 450px;
  text-align: center;
}
input[type='submit'] {
  color: #FFFFFF;
  background-color: #002900;
  max-width: 464px;
  cursor: pointer;
}

#nav {
	position:fixed;
	top:0;
	margin:0;
	background: linear-gradient(#F5F5F5, #CCCCCC);
	height:60px;
	width:100vw;
	z-index: 999;
	box-shadow: 0 1px 10px #000;
}

.main-nav {
	position:fixed;
	top:0;
	left: 0;
	right: 0;
	height:50px;
	width:100vw;
	max-width: 1100px;
	margin:auto;
	padding:12px 0;
	z-index: 999;
}

.main-nav h1 {
	top:20px;
	color:white;
	text-align:left;
	display:inline;
	padding:10px;
	width:200px;
	font-size:30px;
	position: static;
}

.main-nav h1 a:link, .main-nav h1 a:visited, .main-nav h1 a:hover, .main-nav h1 a:active {
	color:white;
	text-decoration:none;
}

#menu-container {
	overflow-x: hidden;
	display: inline;
	position: static;
}

.main-nav ul {
	float:right;
	margin-top:-5px;
	margin:0;
	padding:0;
	list-style-type:none;
}

.main-nav li {
	display:inline-block;
	margin:0 auto;
	padding:0;
	width: 120px;
}

.main-nav li a {
	display:block;
}

.main-nav li a:link, .main-nav li a:visited {
	text-decoration:none;
	text-align:center;
	color: #000;
	padding:5px;
	margin:0 auto;
	font-size:16px;
	font-weight:bold;
	border-radius: 40px;
	width: 80%;
	background: none;
}

.main-nav li a:hover, .main-nav li a:active {
	/*background-color: #5C995C;*/
	background: linear-gradient(#CCCCCC, #F5F5F5);
}

.main-nav p {
	margin:0 0 0 15px;
	padding:0;
	color:white;
	font-size:12px;
}

.main-nav p a {
	text-decoration:none;
	color:white;
}

#menu {
	display:inline-block;
}

#menu-icon {
	display:none;
}

.nav-spacer {
	width: 100%;
	height: 100px;
}

.container {
    min-height: 100vh - 60px;
    padding: 60px 0 20px;
    background-image: url('/static/img/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.mobile-bg {
	display: none;
}
.content {
	width:90%;
	max-width:1100px;
	margin:auto;
}
.content h1, .content h2 {
	color:#fff;
	text-align:left;
	padding: 5px;
	border-bottom: 1px solid #fff;
}
.flash {
	width: 80%;
	background-color: rgb(175, 255, 175);
	color: rgb(0, 41, 0);
	border: 1px solid rgb(0, 41, 0);
	max-width: 400px;
	text-align: center;
	padding: 10px;
	margin: 20px auto 0px;
}
#changing-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
.section-bg {
	display: none;
}
.section {
	border-radius: 40px;
	border: 2px solid #fff;
	padding:15px;
	background-image: url('/static/img/bg-blur.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	color: #fff;
	box-shadow: 0px 0px 10px #000 inset;
}
.section:first-of-type {
	margin-top: 30px;
}
.section p {
    text-shadow: 0 0 30px #000;
}
.blog-entry {
	margin: 5px 20px 15px;
	padding: 0 20px;
}
.blog-entry:last-of-type {
	margin-bottom: 5px;
}
.blog-entry h3, .blog-entry h5, .blog-entry p {
	margin: 5px 0;
}
.blog-entry h5 {
	font-style: italic;
}
.one-half {
  width: 45%;
  margin: 0 2.5%;
  float: left;
}
.one-third {
	width: 30%;
	margin: 5px 1.5%;
	float: left;
	text-align: center;
}
h1.entry-title {
	padding: 5px;
	border-bottom: 1px solid black;
	text-align: left;
}
a.view-more {
	display: block;
	float: right;
}
#home {
	color:white;
}
a.insta-link {
    display: inline-block;
    float: left;
    position: relative;
    padding: 10px;
    width: 155px;
    margin: auto;
}
a.insta-link img {
	border-radius:  50%;
}
a.insta-link span {
	border-radius: 50%;
	color: #fff;
	opacity: 0;
	position: absolute;
	-webkit-transition:opacity 0.25s linear;
	transition:opacity 0.25s linear;
}
a.insta-link:hover span {
	opacity: 1;
}
span.insta-caption-bg {
	background-color: rgba(0, 0, 0, 0.75);
	top: 0;
	bottom: 0;
	left: 0;
	width: 150px;
	height: 150px;
	right: 0;
	margin: 10px;
}
span.insta-caption {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 130px;
	margin: 0 20px;
	height: auto;
	max-height: 130px;
	font-size: 14px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

div#instafeed {
    overflow: hidden;
}

.desktop {
	display:inline-block;
	width:70%;
}

.glance {
	display:inline-block;
	width:20%;
}

.glance p {
	text-align:center;
}

.glance ul {
	margin:auto;
	display:inline-block;
}

#projects {
	color:white;
	margin:50px auto;
	overflow: hidden;
}

#projects h3 {
	margin: 10px auto;
}

#projects p {
	margin: 5px auto;
}

#projects a:hover {
	color: #fff;
}

.project {
	width:75%%;
	margin: 0 auto 10px;
	text-align: left;
	overflow: hidden;
}

.project li {
	float:left;
	width:50%;

}

.project-logo {
	height: auto;
	width: 95%;
	max-width: 200px;
	max-height: 100px;
	margin: auto;
	border: 1px solid white;
}

.project-description {
	margin: 5px 5px 50px;
	overflow: hidden;
	float: left;
}

.project-description:last-of-type {
	margin: 5px;
}

.project-description h3 {
	margin-top: 0;
}

.project-description .project-logo {
	border: 1px solid black;
}

.ff-store-link {
	height: auto;
	width: 40%;
	margin: auto;
	max-width: 172px;
}

.chrome-webstore-link {
	height: auto;
	width: 51%;
	margin: auto;
	max-width: 206px;
}

.project h4 {
	text-align:center;
}

.logo-link {
	float: left;
	margin-right: 20px;
}

#contact p {
    width: 50%;
    display: inline-block;
}

p.contact-btns {
    float: right;
    text-align: right;
}

a#menu-icon {
	color: #fff;
}

a.social-link {
	font-size: 20px;
	margin: 0 5px;
}

a.social-link:link, a.social-link:visited {
	color: #000;
}

a.social-link:hover, a.social-link:active {
	color: #476C47;
}

.section a:link, .section a:visited {
    color: rgb(178, 255, 182);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    text-decoration: none;
}

.section a:hover, .section a:active {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.entry-footer {
    border-radius: 50px;
}

.entry-footer span {
    margin: auto 5px;
}

.entry-footer a:link, .entry-footer a:visited {
    color: #5C995C;
}

.entry-footer a:hover, .entry-footer a:active {
    color: #fff;
}

/* Admin Styles */
.admin-table {
	width: 100%;
}

.admin-table th, .admin-table td {
	padding: 10px 5px;
}

.admin-table tr:first-child th, {
	padding-bottom: 5px;

}
.admin-table tr:first-child td {
	padding-top: 5px;
}


.admin-table th:first-child, .admin-table td:first-child {
	width: 50%;

}
@media screen and (max-width:1024px) {
	.main-nav, #nav {
		position: absolute;
	}
	#menu {
		max-height: 0;
		overflow: hidden;
		width:100%;
		position: absolute;
		top: 60px;
		left: 0;
		padding:0;
		background-color:#CCCCCC;
		float:none;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	#menu-icon {
		position:absolute;
		right:30px;
		display:inline;
		width:auto;
		margin: 2px 10px;
		font-size: 24px;
	}
	.main-nav li {
		display:block;
		margin:0 auto;
		padding:0;
		background-color:#CCCCCC;
		width:100%;
	}
	.main-nav li a {
		width:90%;
		margin: 0 auto;
	}
	.desktop {
		display:none;
	}
	.content {
		position: relative;
		z-index: 9;
	}
	.glance {
		width:95%;
		margin:auto;
	}
	.project {
		display:block;
		width:95%;
		margin:auto;
	}
	.project-logo {
		display: block;
		float:none;
		margin:auto;
	}
	.social-link {
		font-size: 30px;
	}
	.container, .section {
		background-image: none;
	}
	.section {
		background: rgba(0, 41, 0, 0.75);
	}
	.mobile-bg {
		display: block;
		position: fixed;
		height: 100%;
		top: 0;
		width: 100%;
		overflow: hidden;
	}
	.mobile-bg img {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
}

@media all and (max-width: 768px) {
	.one-half {
		width: 95%;
		text-align: center;
	}
	th, td {
		float: left;
		clear: left;
		margin-left: 20px;
	}
}

@media all and (max-width: 870px) {
	.one-third {
		width: 45%;
		margin: 5px 2.5% 40px;
	}
}

@media all and (max-width: 782px) {
	.customize-support #nav, .customize-support .main-nav {
		top: 46px;
	}
}

@media all and (max-width: 700px) {
	.one-third {
		width: 90%;
		margin: 5px 5% 40px;
	}
}

@media all and (max-width: 440px) {
	.blog-entry {
		padding: 0 5px;
	}
	#contact p {
		float: none !important;
		width: 100%;
		text-align: center;
	}
}