{% extends 'master.html' %}
{% block body %}
<h1 style="border-width: 0; text-align: center;">
    <span id="changing-text">web developer.</span>
</h1>

<div class="section" id="blog">
    <h2>from my blog</h2>
    {% for entry in entries %}
        <h3>{{ entry.title }}</h3>
        {{ entry.text|safe }}
    {% else %}
        <em>Sorry, I still haven't gotten around to moving my blog posts over!</em>
    {% endfor %}
    <a class="view-more" href="{{ url_for('blog') }}">Read more &raquo;</a>
</div>
<div class="section" id="projects">
    <h2>projects</h2>
    <div class="one-third">
        <a href="http://wbrawner.com/interval-timer" target="_blank"><img class="project-logo" style="max-width: 102px; border-radius: 50%;" src="{{ url_for('static', filename='img/interval-timer.png')  }}"></a>
        <h3>interval timer app</h3>
        <p>languages/technologies used:</p>
        <ul class="project">
            <li>English</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>AngularJS</li>
            <li>GIMP</li>
        </ul>
        <a href="https://marketplace.firefox.com/app/interval-timer-1/" target="_blank"><img class="ff-store-link" src="{{ url_for('static', filename='img/ff-marketplace.png')  }}"></a>
        <a href="https://chrome.google.com/webstore/detail/interval-timer/glhbffeiigldedfpeiccmfdigplkeanm" target="_blank"><img class="chrome-webstore-link" src="{{ url_for('static', filename='img/chrome-webstore.png')  }}"></a>
    </div>
    <div class="one-third">
        <a href="http://workout-generator.wbrawner.com/" target="_blank"><img class="project-logo" style="margin: 23px auto;" src="{{ url_for('static', filename='img/workout-generator.png')  }}"></a>
        <h3>workout generator app</h3>
        <p>languages/technologies used:</p>
        <ul class="project">
            <li>English</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>JQuery</li>
            <li>PHP</li>
            <li>Laravel</li>
            <li>GIMP</li>
            <li>VIM</li>
            <li>MySQL</li>
        </ul>
    </div>
    <div class="one-third">
        <a href="http://www.sinconsa.com/" target="_blank"><img class="project-logo" style="margin: 17px auto;" src="{{ url_for('static', filename='img/sinconsa.png')  }}"></a>
        <h3>sinconsa consultores</h3>
        <p>languages/technologies used:</p>
        <ul class="project">
            <li>Spanish</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>JQuery</li>
            <li>CPanel</li>
            <li>GIMP</li>
            <li>VIM</li>
        </ul>
    </div>
    <a class="view-more" href="{{ url_for('projects') }}">See more &raquo;</a>
</div>
<div class="section" id="bio">
    <h2>quick facts</h2>
    <table>
      <tbody>
        <tr>
          <td>
            current employer: 
          </td>
          <td>
            <a href="http://whiterabbit.is">White Rabbit</a>
          </td>
        </tr>
        <tr>
          <td>
            current occupation:
          </td>
          <td> 
            web developer
          </td>
        </tr>
        <tr>
          <td>
            previous occupations: 
          </td>
          <td>
            cashier, front desk receptionist, gym membership salesman, personal trainer, efl teacher
          </td>
        </tr>
        <tr>
          <td>
            background:
          </td>
          <td>
            <ul>
                <li>13 years old: first time out of the USA - trip to Japan</li>
                <li>16 years old: first experience living in another country - foreign exchange student program in Finland</li>
                <li>18 years old: graduated high school and moved to Mexico</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            languages:
          </td>
          <td>
            <ul>
                <li>English</li>
                <li>Spanish</li>
                <li>Finnish</li>
                <li>German</li>
            </ul>
            <ul>
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>PHP</li>
                <li>Python</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <a class="view-more" href="{{ url_for('bio') }}">Learn more &raquo;</a>
</div>
{% endblock %}
